html,
body {
    height: 100%;
    background: center no-repeat fixed url('https://ap.imagensbrasil.org/images/3-3157003-technology-network-loop-background.jpg');
    background-size: cover;
    color: #2b2b2b;
    font-family: 'Lato', sans-serif;
}

@media (min-width:768px) {
    h1 {
        font-size: 68px;
    }
}

a {
    color: #888;
}

.btn,
.well,
.panel {
    border-radius: 0;
}

.text-danger,
a.text-danger {
    color: floralwhite;
}

.navbar-trans {
    background-color: #2b2b2b;
    color: #cdcdcd;
    border-width: 0;
}

.navbar-trans .navbar-brand,
.navbar-trans >.container-fluid .navbar-brand {
    padding: 14px;
    color: floralwhite;
}

.icon-bar {
    background-color: floralwhite;
}

.navbar-nav li>a {
    color: floralwhite;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.navbar-nav li>a:hover {
    color: #2b2b2b;
    background-color: #fff;
}

.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 40px;
    border: 2px solid floralwhite;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: -15px;
    display: block;
    padding: 7px;
    text-align: center;
    z-index: -1
}

.scroll-up {
    position: fixed;
    display: none;
    z-index: 999;
    bottom: 2em;
    right: 2em;
}

.scroll-up a {
    background-color: rgba(135, 135, 135, 0.5);
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    color: floralwhite;
    font-size: 15px;
    line-height: 30px;
}

section {
    padding-top: 70px;
    padding-bottom: 50px;
    min-height: 100%;
    min-height: calc(100% - 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

@media (min-width:768px) {
    .v-center {
        height: 50%;
        overflow: visible;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

#section1{
    background-color: rgba(0, 0, 0, 0.6);
    color: floralwhite;
}

#section2 {
    background-color: floralwhite;
}


p {
    text-align: justify;
}

footer {
    background-color: #2b2b2b;
    color: #ddd;
    min-height: 100px;
    padding-top: 20px;
    padding-bottom: 40px;
}
